* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
  color: #4b4b4b;
}
body {
  background-color: #f4f8fb;
}
.topContainerHeader {
  width: 100%;
  height: 70px;
  background-color: #1a293b;
  margin-bottom: 90px;
}
button {
  outline: none;
  cursor: pointer;
}
.step {
  width: 50%;
  transition: all .5s ease-in-out;
}

.wrapper {
  border: 1px solid #2d2e2e!important;
  padding: 40px 20px 25px 20px;
  text-align: center;
  margin: 0 auto;
  background: #ffffff;
  margin-top: 20px;
}
.wrapper,
.previousButton,
.noButton {
  border-radius: 5px;
}
.header {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}
.hidden {
  display: none;
}
.rightWrapper {
  display: block;
  text-align: center;
  padding-top: 40px;
  padding-left: 148px;
  padding-right: 148px;
}
.rightWrapper input {
  width: 92%;
  border-bottom: 1px solid #dcdcdc;
  padding: 5px;
  font-size: 15px;
}
.switchContainer,
.nextButton,
.yesButton,
.startButtonPrivacy,
.submitButton {
  color: #ffffff;
  background: #1a293b;
  border: 1px solid #3f4b5a;
  cursor: pointer;
  padding: 10px 44px;
  font-size: 15px;
  outline: none;
  border-radius: 5px;
}
.switchContainer,
.startButtonPrivacy {
  margin-top: 75px;
  transition: all 0.5s linear;
}

.switchContainer[disabled] {
  opacity: 1;
  background: #f8f8f8!important;
  border: 1px solid #dcdcdc!important;
  color: #b4b5b8!important;
}
.description,
.additionalDescription {
  line-height: 1.5;
}
.descriptionEnd {
  margin-bottom: 75px;
  margin-top: 75px;
}
.container {
  width: 200px;
  height: 100%;
  margin: 0 auto 0;
  /*-webkit-perspective: 1000;*/
  -webkit-backface-visibility: hidden;
  background: #fff;
}

.mainContainer {
  text-align: center;
  z-index: 1;
  margin-top: 42px;
}
.voiceRecordingScreen p {
  margin-bottom: 20px;
}
.commonButton {
  border-radius: 50%;
  background-color: #e84c3d;
  width: 100px;
  height: 100px;
  color: #ffffff;
  font-size: 18px;
}
.previousButton {
  /*position: absolute;*/
  /*top: 50%;*/
  /*margin-top: -18px !important;*/
  /*left: 5%;*/
  /*z-index: 2;*/
  background-color: #536b8b;
  border: 1px solid #637896;
  padding: 10px 30px;
  font-size: 15px;
  color: #ffffff;
}
.noButton {
  background-color: #536b8b;
  border: 1px solid #637896;
  padding: 10px 44px;
  font-size: 15px;
  color: #ffffff;
}
.pulse-button {
  position: relative;
  width: 100px;
  height: 100px;
  border: none;
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  border-radius: 50%;
  background-color: #e84c3d;
  /*background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/jonathanlarradet_copy.png);*/
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.headerText {
  width: 50%;
  margin: 0 auto;
  padding: 0 10px;
}
.questionContainer,
.headerText,
.buttonsWrapper {
  position: relative;
  overflow: hidden;
}
.questionContainer .buttonsWrapper {
  margin-top: 35px;
}
.mainHeader,
.previousButton,
.noButton {
  float: left;
}
.questionHeader {
  margin-top: 10px;
}
.rightAlignment,
.nextButton,
.yesButton {
  float: right;
}
.buttonsWrapper {
  margin-top: 75px;
}
.submittingData,
.notAvailable {
  padding: 150px;
  text-align: center;
}
.questionContainer div {
  float: right;
}
.countDown {
  margin-left: 5px;
}
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

[status='not-started'] .nextButton,
[status='not-started'] .repeatButton,
[status='not-started'] .finishButton {
  display: none;
}

[status='recording'] .nextButton,
[status='recording'] .startButton,
[status='recording'] .repeatButton {
  display: none;
}

[status='recorded'] .startButton,
[status='recorded'] .finishButton {
  display: none;
}

[last='true'] .nextButton {
  display: none;
}

@media (min-width: 751px) and (max-width: 1000px) {
  .step {
    width: 75%;
  }
}

@media (min-width: 651px) and (max-width: 750px) {
  .step {
    width: 85%;
  }
}

@media (max-width: 650px) {
  .step {
    width: 95%;
  }
  .emailContainer {
    padding: 10px 10px;
  }
  .rightWrapper {
    padding-left: 64px;
    padding-right: 64px;
  }
  .topContainerHeader {
    margin-bottom: 0 !important;
  }
  .headerText {
    width: 93%;
    padding: 10px 10px;
  }
  .voiceRecordingScreen .wrapper {
    margin-top: 0;
    padding: 10px 10px 25px 10px;
  }
  .submittingData {
    padding: 150px 60px;
    text-align: center;
  }
  .notAvailable {
    width: 100%;
    padding: 150px 0 !important;
  }
}
