* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: #4b4b4b;
}
body {
  background-color: #e6ecff;
}
input {
  background-color: #f9fafa;
  border: 1px solid #e1e1e1;
  /*border-radius: 4px;*/
  font-size: 16px;
  line-height: 23px;
  padding: 12px 15px 13px;
  width: 50%;
}
.common p {
  font-size: 25px;
  margin-bottom: 20px;
}
.container {
  width: 65%;
  margin: 0 auto;
  text-align: center;
}
.common {
  padding: 5%;
  margin: 0 auto;
  margin-top: 50px;
  background-color: white;
  /*box-shadow: 0 35px 50px 0 rgba(27,55,147,.16);*/
  text-align: center;
}
.left,
.center,
.questionHeader {
  margin-right: 10px;
}
.hidden {
  display: none !important;
}
.nextButton.hidden,
.previousButton.hidden {
  visibility: hidden;
  opacity: 0;
  display: inline-block !important;
}
.left,
.center,
.right,
.leftQuestionContainer,
.rightQuestionContainer {
  display: inline-block;
}
.left {
  vertical-align: top;
}
.right,
.center,
.leftQuestionContainer,
.rightQuestionContainer {
  vertical-align: middle;
}
.recordContainer {
  text-align: center;
}
.questionContainer {
  margin-bottom: 53px;
}
canvas,
audio {
  display: block;
  margin: 0 auto;
}
button {
  color: #ffffff;
  background: #ff7256;
  border: 1px solid #ff7256;
  cursor: pointer;
  /*-webkit-box-shadow: 0 10px 25px 0 rgba(80,14,0,.26);*/
  /*box-shadow: 0 10px 25px 0 rgba(80,14,0,.26);*/
  margin-top: 40px;
  padding: 17px 50px;
  font-size: 18px;
  transition: all 0.5s linear;
  outline: none;
}
button[disabled] {
  cursor: not-allowed;
  opacity: 1;
  background: #f8f8f8!important;
  border: 1px solid #dcdcdc!important;
  color: #b4b5b8!important;
}
button:hover {
  background: #e4563b;
  box-shadow: none;
}
.recordStatus,
audio {
  margin-bottom: 20px;
}

.voiceRecordContainer .common button {
  background: #48a1e6;
  border: none;
  /*box-shadow: rgba(87,191,255,.48);*/
  color: #fff;
  padding: 10px 36px;
  font-size: 16px;
  margin: 0 4px;
}
.voiceRecordContainer .common button:hover {
  background: #3f8bc6;
}
.voiceRecordContainer .common .nextButton,
.voiceRecordContainer .common .previousButton {
  background: #fff;
  color: #48a1e6;
  border: 2px solid #48a1e6;
  padding: 8px 34px;
  transition: all .3s ease;
  margin: 0;
}
.voiceRecordContainer .common .nextButton:hover,
.voiceRecordContainer .common .previousButton:hover {
  color: #fff;
  background: #3f8bc6;
  border-color: #3f8bc6;
}
@media (max-width:641px)  {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .container {
    width: 95%;
  }
}